<div class="center">
  <div class="slide">
    <pre class="code">
      <select id="salutation">
        <option>Hello</option>
        <option>Greetings</option>
        <option>Salut</option>
        <option>Ahoj</option>
        <option>Bonjour</option>
      </select>
      <input id="name" value="John">
      <p id="greeting"></p>

      ===script===
      $(function(){
        var salutation = $('#salutation');
        var name = $('#name');
        var greeting = $('#greeting');

        function update(){
          greeting.text(
              salutation.val() + ' ' +
              name.val() + '!');
        }

        update();

        name.bind('keydown', function(){
          setTimeout(update, 0);
        });
        salutation.bind('change', update);
      });
      ===/script===
    </pre>
  </div>
</div>
