/* app css stylesheet */

body {
  margin: 0;
  padding: 0;
  font-family: 'Coming Soon', arial, serif;
}

body > h1 > tt {
  font-family: 'Coming Soon', arial, serif;
}

.header {
  margin:0;
  background-color: #F2C200;
  border-bottom: 1px solid black;
}

body > h1 {
  margin: 0;
  padding: .25em .5em;
}

.header div {
  font-size: .6em;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
}

.slideNo {
  padding: .25em .5em;
  position: fixed;
  float: right;
  bottom: 0;
  right: 0;
}

.slideSource {
  padding: .25em .5em;
  position: fixed;
  bottom: 0;
  left: 0;
}


.ng-view {
  border-top: 1px solid gray;
  display: block;
  padding: .25em;
}

.ng-view h1 {
  font-size: 4em;
}

.ng-view h2 {
  font-size: 3em;
}

.space {
  width: 3em;
  display: inline-block;
}

.example h1 {
  font-size: 20px;
}

li {
  font-size: 30px;
  padding-top: .5em;
}

li li {
  font-size: 80%;
}

ul {
  margin-left: 2em;
}

ul ul {
  margin-left: .5em;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

fieldset {
  font-family: times, serif;
  text-align: left;
}

fieldset > legend {
  font-family: 'Coming Soon', arial, serif;
  font-weight: bold;
  font-size: 20px;
}

fieldset > div {
  font-size: 20px;
}

.floating-slide {
  float: right;
}

.left-column {
  float: left;
  width: 50%;
}

.right-column {
  float: right;
  width: 50%;
}

div.syntaxhighlighter > table {
  overflow: hidden !important;
}

/* Code snippet */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.clip {
  max-height: 15em;
  overflow: scroll;
}

.slide {
  display: inline-block;
  width: 800px;
  font-size-adjust: 3em;
  text-align: left;
}
