<pre class="markdown">
* HTML is its own best templating language
  * Declarative: not just for documents any more
  * View is a projection of the model
  * Attach behavior / meaning to HTML elements
  * Abstract your problem by inventing new HTML elements
  * Build the abstractions with jQuery for DOM manipulation
  * Model is single Source of truth
* Clear Model-View-Controller separation (No DOM manipulation)
* Support large scale applications (DI)
* Provide scaffolding for your application
* Have an amazing testability story
</pre>

