<div class="left-column">
  <pre class="code">
    ===script===
    angular.service('flash', function($defer){
      var scope = this;
      return function(text) {
        scope.msg = text;
          console.log('set', text, $defer)
        $defer(function(){
          console.log('clear', text)
          scope.msg = undefined;
        }, 1000);
      }
    });

    function MyCntrl(flash_){
      this.notify = function(){
        flash_('some text');
      }
    }
    ===/script===
    <div ng:controller="MyCntrl">
      <div ng:show="msg" class="notify">
        <span>{{msg}}</span>
      </div>
      <button ng:click="notify()">notify</button>
    </div>
    <style>
      .notify {
        position: absolute;
        padding: 1em;
        margin: 1em;
        top: 1em;
        left: 0;
        right: 0;
        text-align: center;
      }
      .notify > span {
        margin: auto;
        padding: 1em;
        color: white;
        background-color: red;
        border: 1px solid black;
      }
    </style>
  </pre>
</div>

<div class="right-column">
<pre class="markdown">
* Services and Controllers can declare their own dependencies
* You can create your own services
* You can then inject them into your controller
* The services can the be mocked out in your tests
</pre>
</div>


