<div class="left-column">
  <h2>JavaScript + jQuery</h2>
  <pre class="code">
    ===script===
    $(function(){
      var input = $('.ex1 input');
      var span = $('.ex1 span');

      input.bind('keydown', function(){
        setTimeout(function(){
          span.text(input.val());
        }, 0);
      });
    });
    ===/script===
    <div class="ex1">
      <input type="text">
      <span></span>
    </div>
  </pre>
</div>

<div class="right-column">
  <h2>&lt;angular/&gt;</h2>
  <pre class="code">
    <input type="text" name="text">
    <span>{{text}}</span>
  </pre>
</div>


