<div class="center">
  <img src="img/Overview.png">
</div>
<pre class="markdown">
* Scopes are the glue that provide separation as well as communication
  * Controller changes the model
  * Scopes notify the directives of model changes
  * Directives update the DOM
* Very clear separation between the controller and the view
  * controller has no access to the DOM
  * very testable
* Dependency Injection wires all of the pieces together
  * You con replace any part of angular with your own implementation
* Services are common building blocks for a typical application
* You may extend angular by writing your own services or directives
* Green is you; yellow is angular; red is browser; blue are other libraries
  * angular plays nice with other libraries.
  * jQuery is optional
</pre>
