<div class="left-column">
  <h2>JavaScript + jQuery</h2>
  <pre class="code">
    ===script===
    $(function(){
      // get references to DOM elements
      var input = $('.ex1 input');
      var msg = $('.ex1 span');
      var show = $('.ex1 :checkbox');
      var password = $('.ex1 tt');
      var button = $('.ex1 button');
      var strength;

      // Register behavior
      button.bind('click', function(){
        var r = $.ajax({
          url:'generatePassword.json',
          complete:function(response){
            input.val(response.response);
            change();
          }
        });
      });

      input.bind('keydown', function(){
        setTimeout(change, 0);
      });

      show.bind('click', function(){
        if (show.is(':checked')) {
          password.show();
        } else {
          password.hide();
        }
      });

      function change(){
        msg.removeClass(strength);
        var pwd = input.val();
        password.text(pwd);
        if (pwd.length > 8) {
          strength = 'strong';
        } else if (pwd.length > 3) {
          strength = 'medium';
        } else {
          strength = 'weak';
        }
        msg
         .addClass(strength)
         .text(strength);
      }

      //reset initial state
      password.hide();
      change();
    });
    ===/script===
    <style>
     .strong {
       background-color: lightgreen; }
     .medium {
       background-color: yellow; }
     .weak {
       background-color: red;
       color: white; }
    </style>
    <div class="ex1">
      <h1>Password Strength Meter</h1>
      Password
        <input type="password">
      Show
        <input type="checkbox">
        <tt> </tt><br/>
      Your password is
        <span></span>.
      <button>Generate</button>
    </div>
  </pre>
</div>

<div class="right-column">
  <h2>&lt;angular/&gt;</h2>
  <pre class="code">
    ===script===
    function PasswordCntrl($xhr){
      var self = this;
      this.password = '';
      this.grade = function(){
        var size = this.password.length;
        if (size > 8) {
          this.strength = 'strong';
        } else if (size > 3) {
          this.strength = 'medium';
        } else {
          this.strength = 'weak';
        }
      };
      this.generate = function() {
        $xhr('GET', 'generatePassword.json',
          function(code, password){
            self.password = password;
          })
      }
      this.$watch('password', this.grade);
    }
    ===/script===
    <style>
     .strong {
       background-color: lightgreen; }
     .medium {
       background-color: yellow; }
     .weak {
       background-color: red;
       color: white; }
    </style>
    <div ng:controller="PasswordCntrl">
      <h1>Password Strength Meter</h1>
      Password
        <input type="password" name="password"/>
      Show
        <input type="checkbox" name="show"/>
        <tt ng:show="show">
          {{password}}
        </tt><br/>
      Your password is
        <span ng:class="strength">
          {{strength}}
        </span>.
      <button ng:click="generate()">
        Generate
      </button>
    </div>
  </pre>
</div>
