<div class="left-column">
  <pre class="code">
    ===script===
    function MyCntrl($route){
      this.$route = $route;
    }
    ===/script===
    <div ng:controller="MyCntrl" class="clip">
      <pre>$route.routes={{$route.routes}}</pre>
    </div>
  </pre>
</div>

<div class="right-column">
<pre class="markdown">
* $route is an example of a service
* Notice how services can be injected just by asking for them
* $route matches URLs with partials
* This presentation is an angular application and you can see its routes
</pre>
</div>


