<div class="left-column">
  <pre class="code">
    ===script===
    function MyCntrl($resource){
      var Book = $resource('books.json');

      this.fetch = function(){
        this.books = Book.query();
      }
    }
    ===/script===
    <div ng:controller="MyCntrl">
      <button ng:click="fetch()">fetch</button>
      <pre>{{books}}</pre>
    </div>
  </p:code>
</div>

<div class="right-column">
<pre class="markdown">
* $resource allows the for RESTfull API
* $resource separates the definition part form the usage
* Because it is injectable service it can be easily mocked/tested
* `query` is an example of operation, but many more can be defined
* callbacks are optional
</pre>
</div>


