<div class="center">
  <div class="slide">
    <pre class="code">
      <div ng:controller="Greeter">
        <input name="name">
        <button ng:click="greet()">greet</button>
        <p>{{greeting}}</p>
      </div>

      ===script===
      function Greeter($xhr){
        var self = this;

        this.name = 'World';

        this.greet = function() {
          var url = 'http://angularjs.org/greet.php';
          url += '?callback=JSON_CALLBACK';
          url += '&amp;name=' + this.name;
          $xhr('JSON', url, function(code, response){
            self.greeting = response.greeting;
          });
        }
      }
      ===/script===
    </pre>
  </div>
</div>
