<div class="center">
  <div class="slide">
    <pre class="code">
      <div ng:controller="GreeterCntroller">
        <input name="name">
        <button ng:click="greet()">greet</button>
        <p>{{response.greeting}}</p>
      </div>

      ===script===
      function GreeterCntroller($resource){
        var Greeter = $resource(
          'http://angularjs.org/greet.php',
          {callback:'JSON_CALLBACK'}, {
            greet: {method:'JSON'}
          });

        this.name = 'World';

        this.greet = function() {
          this.response = Greeter.greet({name: this.name});
        }
      }
      ===/script===
    </pre>
  </div>
</div>
